@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap');

.MessageBox {
  background: #F3F3F3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.MessageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.MessageText img {
  vertical-align: middle;
  font-family: inherit;
}

.MessageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.SentText {
  display: flex;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  color: #828282;
  letter-spacing: 0.3px;
}

.PaddingLeft {
  padding-left: 10px;
}

.PaddingRight {
  padding-right: 10px;
}

.JustifyStart {
  justify-content: flex-start;
}

.JustifyEnd {
  justify-content: flex-end;
}

.ColorWhite {
  color: white;
}

.ColorDark {
  color: #353535;
}

.BackgroundBlue {
  background: #2979FF;
}

.BackgroundLight {
  background: #F3F3F3;
}